body{
    background-color: #c6c6c779;
   
}

.titulo{
    text-align-last: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #4649ebf6;
    width: 100%;
}

.formulario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    flex-direction: column;

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    flex-direction: column;
    padding: 20px;
}

.botao {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

a {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    text-decoration-line: none;
    color: #363b58;
}

.voltar {
    font-weight: normal;
    border-width: 2px;
    border-style: ridge;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
}

#listaclientes {
    font-weight: normal;
}
